<h1>Listing berufs</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for beruf in @berufs %>
  <tr>
    <td><%=h beruf.name %></td>
    <td><%= link_to 'Show', beruf %></td>
    <td><%= link_to 'Edit', edit_beruf_path(beruf) %></td>
    <td><%= link_to 'Destroy', beruf, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New beruf', new_beruf_path %>
